New customers: Count of users who registered in that month

In [3]:
from src import SQL_Executor, SQL_Queries

executor = SQL_Executor()
query = SQL_Queries.Portfolio.new_customers()
executor.display_results(executor.execute_query(query))

    user_count    month
0          982  2023-12
1          441  2024-01
2          442  2024-02
3          634  2024-03
4          637  2024-04
5          639  2024-05
6          641  2024-06
7          644  2024-07
8          904  2024-08
9          908  2024-09
10         650  2024-10
11        1175  2024-11